{% extends "article/layout.html" %} {% block body %}
<h3 class="text-center">Hakkımızda</h3>
<hr />
<div class="jumbotron text-center">
  <p>
    Herkese merhaba,Ben Cem Akar ve bu sitede sizlere bilgi vermek için
    çalışıyorum. Sizlerde bu sitede bilgi paylaşmak isterseniz bana
    ulaşabilirsiniz. Bilgisayar ve teknoloji ile ilgili her türlü bilgiyi bu
    sitede bulabilirsiniz. Full stack developer olarak çalışıyorum. Bu sitede
    sizlere bilgi vermek için çalışıyorum.
  </p>
</div>
{% endblock body %}
